.phrase {
    font-size: 20px;
    text-align: left;
}

.field {
    font-size: 20px;
    height: 130px;
}

.field-disabled{
    background-color: lightgray;
}

.icons{ 
    vertical-align: middle;
}

.green-border{
    border: 3px solid green;
}

.red-border{
    border: 3px solid red;
}

.score{
    display: none;
}

.body{
    overflow: scroll;
}

#error {
    color: red;
    display: none;
}

#spinner {
    display: none;
}

#phrase-id {
    width: 50px
}